﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GfK Survey</title>

    <!-- Stylesheet -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- JS Librery -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-mocks.js"></script>

    <!-- App script -->
    <script src="app/app.js"></script>

    <!-- Common service -->
    <script src="common/common.services.js"></script>

    <!-- Resource reference -->
    <script src="common/surveyResource.js"></script>

    <!-- Controller -->
    <script src="app/Survey/surveyController.js"></script>
</head>
<!-- survey module -->
<body ng-app="surveyModule">
    <div class="panel panel-primary">
        <table>
            <tr>
                <td><img src="images/GfKLogo.png" /></td>
                <td><h1>HR Feedback</h1> </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="panel-body">
        <!-- Context is set to survey controller -->
        <table class="table" ng-controller="SurveyController as vm">
            <tr ng-repeat="question in vm.questions">
                <td>{{question.QuestionText}}</td>
                <td ng-repeat="answer in question.answers">
                    <input type="radio" />
                    {{answer.Text}}
                </td>
            </tr>
        </table>
        <div class="container">
            <table>
                <tr>
                    <!-- Submit button -->
                    <td><button type="button" class="btn btn-secondary">Submit</button></td>
                </tr>
            </table>

        </div>
        <div>

        </div>
    </div>
    <script>

    </script>
</body>
</html>