﻿@section scripts {
    @*@Scripts.Render("~/bundles/app1")*@

    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/QuestionsViewModel.js"></script>
    <script type="text/javascript">
        //var questionsViewModel = new QuestionsViewModel(data);
        //ko.applyBindings(questionsViewModel);
    </script>
}

<div>

    <span data-bind="foreach: Questions">
        The question is <span data-bind="text: QuestionText"></span>
    </span>
</div>
