﻿@section scripts {
  @Scripts.Render("~/bundles/app")
}

<div class="page-header">
  <h1>Survey</h1>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Questions</h2>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled" data-bind="foreach: questions">
          <li>
            <strong><span data-bind="text: Id"> </span><span data-bind="text: QuestionText"></span></strong> 
            @*<ul class="list-unstyled" data-bind="foreach: answers()">
                <li>
                    <strong><span data-bind="text: Id"></span><span data-bind="text: Text"></span></strong>
                </li>
                
            </ul>*@
           </li>
        </ul>
      </div>
    </div>
    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
  </div>

  <div class="col-md-4">
    <!-- TODO: Book details -->
  </div>

  <div class="col-md-4">
    <!-- TODO: Add new book -->
  </div>
</div>